.header {
  position: relative;
  height: 200px;
  color: #fff;
  background-image: url('./assets/watermark.png');
  background-size: cover;         /* Hace la imagen más pequeña */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
}

.header img {
    width: 70%;
    height: 200px; /* Ajusta el valor */
    object-fit: cover;
    object-position: center;
    display: block;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.6); /* Blanco con opacidad, ajusta a gusto */
  z-index: 1;
}

.watermark-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
}